.media:last-child {
  border-bottom: 1px solid #e3e3e3;
}

.media a {
  color: #333;
  text-decoration: none;
}

.media img {
  width: 175px;
  height: 118px;
  object-fit: cover;
}

.car-price {
  font-size: 18px;
  font-weight: bold;
  color: #f1632b;
}

.car-meta, .posted-time {
  font-size: 14px;
  font-weight: 400;
  color: #616161;
  margin-top: 15px;
}

.media {
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  padding: 15px;
  border-bottom: none;
}